
/*меняем базовые цвета для темной темы*/
html[data-theme=dark] {
  --pst-color-secondary: #938EFF;
  --pst-color-primary: #938EFF;
  --pst-color-background: #26282C
}



html[data-theme="dark"] a {
  text-decoration: none;
  color: #F9FAFB;
}



/*левое меню*/


html[data-theme="dark"] nav.bd-links .current > a {
  
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 #363298;
  background-color: #363298;
  font-weight: normal; 
  color:#F9FAFB;

}





html[data-theme="dark"] nav.bd-links li > a:hover {
  text-decoration-skip: none;
  background-color: #475467;
  text-decoration-skip-ink: none;
  text-decoration-thickness: max(3px,.1875rem,.12em);
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 #475467;
  color: #F9FAFB;
}

html[data-theme="dark"] .bd-sidebar-primary label.toctree-toggle:hover {
  background: #475467;
}

html[data-theme="dark"] .fa-chevron-down path {
  color: var(--pst-color-text-muted);
}




/*правое меню*/

html[data-theme="dark"] .toc-entry a.nav-link.active:hover {
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 #938EFF;
  color: #938EFF;
}


html[data-theme="dark"] .toc-entry a.nav-link.active {
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 #938EFF;
  color: #938EFF;
}


/*цвет границы для блоков*/

html[data-theme="dark"] .bd-sidebar-primary {
  border-right: 1px solid #475467;
}


html[data-theme="dark"] footer.bd-footer-content {
  border-top: 1px solid #475467;  
}



/*плашка "Что нового"*/

html[data-theme="dark"] .news {
  background: var(--colorPrimaryBg, #475467);
  color: #F9FAFB;
}


html[data-theme="dark"] section .wrap-btn:hover {
  color: var(--pst-color-link-hover);
}



/*фон*/

html[data-theme="dark"] .bd-sidebar-primary {
  background: #1C1E21;
}



html[data-theme="dark"] .bd-container {
    background: #1C1E21;
    background: linear-gradient(to right, #1C1E21 25%, #26282C 25%);
    background-size: 100% 100%;

}


@media (max-width: 768px) {
  html[data-theme="dark"] .bd-container { 
      background: #26282C;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html[data-theme="dark"] .bd-container { 
      background: #26282C;
  }
}